# interfaces(5) file used by ifup(8) and ifdown(8)
# Configura un aula para el curso de Untangle de Greencore Solutions SRL
# Habilita eth0 dentro de br0, y crea br1 y br2 sin puertos asosciados
# con el fin de ser utilizados por máquinas virtuales y contenedores

auto lo
iface lo inet loopback

auto eth0
iface eth0 inet manual

auto br0
iface br0 inet static
	address {{ br0ip }}
        netmask 255.255.255.0
        gateway 10.42.25.1
        dns-nameservers 10.42.30.2
	bridge_ports eth0

auto br1
iface br1 inet static
	address {{ br1ip }}
        netmask 255.255.255.0
	bridge_ports none
auto br2
iface br2 inet static
        address {{ br2ip }}
        netmask 255.255.255.0
	bridge_ports none

